<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>About page</title>
    </head>
    <body>
        <h1>{{pageTitle}}</h1>
        <p>Some awesome text here about hbs...</p>

        {{> footer}}
    </body>
</html>