<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>projects</title>
    </head>
    <body>
        {{> header}}
        <p>Projects description goes here...</p>

        {{> footer}}
    </body>
</html>